body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgb(41, 66, 66);
    margin-left: 30px;
    margin-top: 100px;
    
}



main {
    display: flex;
    flex-direction: column;
    
}
.h1-1 {
    font-size: 55px;
    display: flex;
    color: white;
    margin-bottom: 0px;
}

.h1-2 {
    font-size: 55px;
    display: flex;
    color: rgb(121, 202, 121);
    margin-top: 0px;
    margin-bottom: 5px;
}

p {
    font-size: 30px;
    display: flex;
    color: lightgray;
    margin-top: 0px;
    margin-bottom: 50px;
}

button {
    display: flex;
    background: rgb(121, 202, 121);
    color: white;
    padding: 10px;
    border: 0px;
    width: 200px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 20px;
}
footer {
    width: 70%;
}

hr {
    height: 1px;
    background-color: gray;
    border: none;
    margin-bottom: 30px;
}

div {
    display: inline-block;
    width: 30%;
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    background-color: rgb(63, 113, 113);
    padding: 5px 0px 5px 5px;
    border-radius: 5px;
    color: aqua;
}
